@import url('');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'ariel, sans serif';
}

/* svg{
    color: #fff;
    background-color: #fff;
} */
/* 
.Nav {
    background-color: rgb(57, 5, 57);
    color: purple;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1300px) / 2);
    z-index: 100;
    position: relative;
} */